@import "tailwindcss";
@import "tailwindcss-primeui";

:root[data-theme="dark"] {
  --background-color: #0d1b2a;
  --text-color: #ffffff;
  --border-color: #00b4d8;
  background-color: var(--background-color);
  color: var(--text-color);
  --checked-color: #003366;
  --checked-bg: #003366;
  --card-background-color: #1b263b;
  --card-border-color: #00b4d8;
  --card-text-color: #e2eafc;
  --card-subtext-color: #90a8d4;
  --card-border-left: #00b4d8;
  --card-color-content: #c1d3fe;
  --filter-bg-color: #d6d6d6;
  --filter-color: #080808;
  --box-shadow: 0 4px 6px -1px rgba(160, 159, 159, 0.1);
  --button-bg: palevioletred;
}

:root[data-theme="light"] {
  --checked-color: #0096c7;
  --checked-bg: #0096c7;
  --filter-bg-color: #4d4d4d;
  --filter-color: #080808;
  --background-color: #e6f2ff;
  --text-color: #003366;
  --border-color: #0096c7;
  background-color: var(--background-color);
  color: var(--text-color);
  --card-background-color: #cce0ff;
  --card-color-content: #004080;
  --card-border-color: #0096c7;
  --card-text-color: #002244;
  --card-subtext-color: #5a86b7;
  --card-border-left: #141414;
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --button-bg: #e72e2e;
}
.p-radiobutton-checked .p-radiobutton-box {
  background: var(--checked-bg);

  border-color: var(--checked-color);
}
.p-button-icon {
  font-size: 1.5rem;
}
.p-inputtext:focus {
  border: 1px solid var(--checked-color);
}
.p-menubar,
.p-menubar a,
.p-menubar a span,
.p-menubar span,
.p-menubar {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color) !important;
}
.p-menubar.p-component.p-menubar-mobile {
  width: 100vw;
}
.pi.pi-moon {
  position: relative;
  color: #60a5fa; /* Приятный синий */
  transition: all 0.3s ease;
  cursor: pointer;
  filter: drop-shadow(0 0 4px rgba(96, 165, 250, 0.5));
}

.pi.pi-sun {
  position: relative;
  color: #fbbf24; /* Тёплый янтарный */
  transition: all 0.3s ease;
  cursor: pointer;
  filter: drop-shadow(0 0 6px rgba(251, 191, 36, 0.7));
}

.p-toggleswitch-slider {
  background-color: var(--background-color);
  border-color: var(--border-color);
  transition: background-color 0.3s ease;
}
.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background-color: var(--background-color);
}
.p-toggleswitch {
  width: 50px;
  height: 30px;
}
.p-menubar-item {
  background-color: transparent;
  box-shadow: var(--box-shadow);
}
.p-menubar-root-list {
  width: 80%;
  justify-content: space-between;
  margin-left: 0;
  border: none;
  background-color: var(--background-color);
}
.menu-label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 8px;
  vertical-align: middle;
}

@media (min-width: 960px) {
  .menu-label {
    display: none;
  }
}
.p-menubar-start {
  display: flex;
  align-items: center;
}
